<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery Nature</title>
    
    <!--Favicon-->
    <link rel="shortcut icon" href="images/b039393234714368b5f6f52f4d742c63.png" type="image/x-icon">

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--Custom CSS-->
    <link rel="stylesheet" href="sellerdashboard.css">

    <!--Font Awesome-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6450af1cb3.js" crossorigin="anonymous"></script>

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">


</head>
<body>

    <div class="sellerdashboard">
        <div class="side">

            <h1 class="heading">Sellers</h1>

            <div class="items">
                <ul>
                    <li><a href="/sellerlogin"> <button type="button" class=" sidebutton btn btn-outline-success">Login </button> </a></li>
                    <li><a href="/sellersignup"> <button type="button" class=" sidebutton btn btn-outline-success">signup </button> </a></li>
                    <li><a href="/  "> <button type="button" class=" sidebutton btn btn-outline-success">Home </button> </a></li>
                </ul>
            </div>
            
            
        </div>
        <div class="main">
            <div class="navigation">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand" href="/">Nursery Nation</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 40px;">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item  text-capitalize font-weight-bold">
                          <a class="nav-link" href="/">Home</a>
                        </li>
    
                        <li class="nav-item text-capitalize font-weight-bold">
                            <a class="nav-link" href="#contacts">Contact</a>
                        </li>
                        
                        <li class="nav-item text-capitalize font-weight-bold dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="far fa-user-circle"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item item" href="/sellerlogin">Seller Login</a>
                              <a class="dropdown-item item" href="/sellersignup">Seller Sign</a>
                            </div>
                          </li>
                      </ul>
                    </div>
                  </nav> 
            </div>
            <div class="content">
                <div>
                    <h1 class="headingmain"> Hello Sellers,</h1>
                </div>
                <div class="contentmaterial">
                        Here at <strong>Nursery Nation</strong> we bring you simple yet effective solution
                        to enhance you sales just by simply registering yourself on the <Strong>Nursery Nation</Strong>
                        web application.
                        <br>
                        <br>
                        Signup to use are Exciting features and facilities to sell your products across Indore and when we
                        grew up you'll grow with us too. In near future we'll expanding across Madhya Pradesh then you can
                        sell your products across Madhya Pradesh.
                        <br>
                        <br>
                        Login to Add your products and also update them later onn according to demand of the users. Also 
                        you can remove products if they aren't performing well.
                </div>
                
            </div>
        </div>
    </div>
    

    <!--Bootstrap Javascript-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

<footer>
    <div class="contact" id="contacts">
        <div>
            <i class="fab fa-facebook "></i>
        </div>
        <div>
            <i class="fab fa-instagram "></i>
        </div>
        <div>
            <i class="fab fa-whatsapp "></i>
        </div>
        <div>
            <i class="fab fa-github "></i>
        </div>
    </div>
</footer>
</html>