<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery Nation</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="images/b039393234714368b5f6f52f4d742c63.png" type="image/x-icon">

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--Custom CSS-->
    <link rel="stylesheet" href="index.css">

    <!--Font Awesome-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6450af1cb3.js" crossorigin="anonymous"></script>

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    
</head>
<body>

    <!--Navbar Section-->
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="/">Nursery Nation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item  text-capitalize font-weight-bold">
                  <a class="nav-link" href="#header">Home</a>
                </li>

                <li class="nav-item text-capitalize font-weight-bold">
                  <a class="nav-link" href="#aboutus">About us</a>
                </li>
                
                <li class="nav-item text-capitalize font-weight-bold">
                  <a class="nav-link" href="#products">Products</a>
                </li>
                
                <li class="nav-item text-capitalize font-weight-bold">
                  <a class="nav-link" href="#features">Features</a>
                </li>
        
                <li class="nav-item text-capitalize font-weight-bold">
                    <a class="nav-link" href="#contacts">Contact</a>
                </li>
                
                <li class="nav-item text-capitalize font-weight-bold dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="far fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item item" href="/login">Login</a>
                      <a class="dropdown-item item" href="/signup">Sign up</a>
                      <a class="dropdown-item item" href="/sellerdashboard">Are you a Seller?</a>
                    </div>
                  </li>
              </ul>
            </div>
          </nav> 
    </div>
    <!--End of Navbar Section-->

  <!--Wave section-->
  <div class="header" id="header">
      <!--Content before waves-->
      <div class="inner-header flex">
        <!--Just the logo.. Don't mind this-->
        <img src="images/b039393234714368b5f6f52f4d742c63.png" alt="logo" class="logo">
      </div>
      <!--Waves Container-->
      <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
        </svg>
      </div>
      <!--Waves end-->    
  </div>
  <!--End of wave section-->

  <!--About Nursery Nature-->
  <h1 class="heading">About Us</h1>
  <div class="aboutContainer" id="aboutus">
      <div class="imgContainer">
        <img src="images/image2.jpg" alt="Plant Image">
      </div>
      <div class="content">
        <p class="contentPara"> Welcome! Here at <strong> Nursery Nation </strong> bringing a touch of nautre at your doorstep. In the urban jungle you hardly find any time to connect to the God's most beautiful creation <strong>The Mother Nature.</strong>
        We here at <strong>Nursery Nation</strong> brings you a simple yet effective solution to decor your home and your garden with plants, herbs and what not. 
        With us you can get anything and everthing that your plant needs to become a very intractable aspect of your home and your life. </p>
        <img class=" logo-in-about" src="images/b039393234714368b5f6f52f4d742c63.png" alt="Logo of Nursery Nation">
      </div>
      <div class="imgContainer">
        <img src="images/plant2.jpg" alt="Plant Image">
      </div>
  </div>
  <!--End of About Section-->
  
  <!--Products Section-->
  <h1 class="heading">Our Products</h1>
  <div class="productsContainer" id="products">
    <div class="p-container">
      <div class="box box1">
        <img src="images/indoor plant image.jpg">
        <h2 class="heading">Indoor Plants</h2>
        <div class="product-details">
          <ul>
            <li>We bring you a very Exciting range of <strong>Indoor Plants</strong> </li>
          </ul>
          <div class="btn-container">
            <a href="/products"><button class="btn btn-outline-success"> Explore more! </button></a>
          </div>
        </div>
      </div>
      <div class="box box2">
        <img src="images/outdoor plant image.jpg">
        <h2 class="heading">Outdoor Plants</h2>
        <div class="product-details">
          <ul>
            <li>Check out the Vivid range of <strong> Outdoor Plants </strong>to decorate your garden</li>
          </ul>
          <div class="btn-container">
            <a href="/products"><button class="btn btn-outline-success"> Explore more! </button></a>
          </div>
        </div>
      </div>
      <div class="box box3">
        <img src="images/Pot image.jpg">
        <h2 class="heading">Plant Pots</h2>
        <div class="product-details">
          <ul>
            <li><strong>Eco friendly pots</strong> to use in your garden as weel as we bring you a very wide variety of indoor pots to make give a touch of uniqueness to your home.</li>
          </ul>
          <div class="btn-container">
            <a href="/products"><button class="btn btn-outline-success"> Explore more! </button></a>
          </div>
        </div>
      </div>
      <div class="box box4">
        <img src="images/fertilizer sack.jpg"> <!--https://source.unsplash.com/1000x806-->
        <h2 class="heading">Fertilizers</h2>
        <div class="product-details">
          <ul>
            <li>We care about the growth of your plants too! Check out the <strong>essentials</strong> for your plants to make them grow to the fullest.</li>
          </ul>
          <div class="btn-container">
            <a href="/products"><button class="btn btn-outline-success"> Explore more! </button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End of Products Section-->

  <!--Featues Section-->
  <div class="features" id="features">
    <h1 class="heading">Features</h1>
     <div class="features-container">
      <div class="feature-block">
        <span>
          <i class="fas fa-shopping-cart fa-3x"></i>
        </span>
        <p class="feature-description">
          Delivering in every corner of Indore. 
        </p>
      </div>
    </div>
    <div class="features-container">
      <div class="feature-block">
        <span>
          <i class="fas fa-mobile fa-3x"></i>
        </span>
        <p class="feature-description">
          Can see everything from the comfort your home. 
        </p>
      </div>
    </div>
    <div class="features-container">
      <div class="feature-block">
        <span>
          <i class="fas fa-home fa-3x"></i>
        </span>
        <p class="feature-description">
          Provide support to help you decorate your home as per your needs. 
        </p>
      </div>
    </div>
    <div class="features-container">
      <div class="feature-block">
        <span>
          <i class="fas fa-seedling fa-3x"></i>
        </span>
        <p class="feature-description">
          You can choose from a vivid variety of plants.
        </p>
      </div>
    </div> 
  </div>
  <!-- End of Featues Section-->

  <!--Contant Section-->

  <footer>
    <div class="contact" id="contacts">
        <div>
             <a href="https://www.facebook.com/Nursery-Nation-100555002252725" style="color: white;"><i class="fab fa-facebook "> </i> </a> 
        </div>
        <div>
             <a href="https://www.instagram.com/nursery_nation/" style="color: white;"> <i class="fab fa-instagram "></i> </a> 
        </div>
        <div>
             <a href="https://github.com/Shashwat-Sharma3108/minor-project" style="color: white;"><i class="fab fa-github "> </i></a> 
        </div>
    </div>
</footer>
  <!--End of Contant Section-->

   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>
</html>